// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Yu Gothic Medium', 'YuGothic Medium', 'Nunito', sans-serif;
$font-size-base: 1.2rem;
$line-height-base: 1.8;

// Colors
$blue: #2468a0;
$indigo: #6574cd;
$purple: #7e52be;
$pink: #f66d9b;
$red: #e3342f;
$orange: #915c28;
$yellow: #b6a938;
$green: #28864f;
$teal: #398d85;
$cyan: #548bb8;
